<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Mi Página Flexbox</h1>
        <p>Bienvenido a las páginas flexibles.</p>
    </header>

    <nav>
        <ul class="menu">
            <li><a href="#">INICIO</a></li>
            <li><a href="#">QUIÉNES SOMOS</a></li>
            <li><a href="#">SERVICIOS</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">CONTACTO</a></li>
        </ul>

        <ul id="idiomas" class="menu">
            <li><a href="#">English</a></li>
            <li><a href="#">Euskera</a></li>
        </ul>
    </nav>


    <main>
        <aside>
            <h3>El señor Aside</h3>
            <img src="image/flex.png" alt="img" id="primerImgAsd">
            <div class="textos">
                <p>Lorem ipsum dolor sit amet consectetur </p>
                <p>Lorem ipsum dolor sit amet consectetur </p>
                <p>Lorem ipsum dolor sit amet consectetur </p>
            </div>
            <img src="image/flex.png" alt="img prueba" class="minImg">
            <img src="image/flex.png" alt="img prueba" class="minImg">
            <img src="image/flex.png" alt="img prueba" class="minImg">
        </aside>


        <section>
            <article>
                <h3>Título del artículo del día</h3>
                <p class="titulosection">El día que aprendí Flexbox, 18/01/2019</p>
                <img src="flex/img/flex.png" alt="" class="imgsection">
                <p>Lorem ipsum, dolor sit amet consectetur  Laborum fuga cum sit esse rem deleniti optio! Qui ab nemo aut hic, ipsum in impedit ducimus dolores porro esse. Ipsa laboriosam tenetur culpa voluptate corrupti odit unde ut. Magnam eius asperiores, soluta voluptatum aliquid odio blanditiis. Repudiandae temporibus deserunt atque, debitis recusandae similique et nulla nostrum, iure, facere eum nihil aspernatur! Culpa ipsa rem voluptates. Molestias quas culpa illo illum nostrum, veritatis blanditiis! Iusto qui temporibus voluptatibus. Ut deserunt porro at enim ipsum maxime delectus, cupiditate recusandae impedit, autem sed, vel iste quidem ullam maiores nesciunt provident quo consectetur laboriosam accusantium.</p>
                <p>Lorem ipsum, dolor sit amet consectetur  Laborum fuga cum sit esse rem deleniti optio! Qui ab nemo aut hic, ipsum in impedit ducimus dolores porro esse. Ipsa laboriosam tenetur culpa voluptate corrupti odit unde ut. Magnam eius asperiores, soluta voluptatum aliquid odio blanditiis. Repudiandae temporibus deserunt atque, debitis recusandae similique et nulla nostrum, iure, facere eum nihil aspernatur! Culpa ipsa rem voluptates. Molestias quas culpa illo illum nostrum, veritatis blanditiis! Iusto qui temporibus voluptatibus. Ut deserunt porro at enim ipsum maxime delectus, cupiditate recusandae impedit, autem sed, vel iste quidem ullam maiores nesciunt provident quo consectetur laboriosam accusantium.</p>
            </article>
    
            <article>
                <h3>Título del artículo del día</h3>
                <p class="titulosection">Otro post de hace semanas.</p>
                <img src="image/flex.png" alt="" class="imgsection">
                <p>Lorem ipsum, dolor sit amet consectetur  Laborum fuga cum sit esse rem deleniti optio! Qui ab nemo aut hic, ipsum in impedit ducimus dolores porro esse. Ipsa laboriosam tenetur culpa voluptate corrupti odit unde ut. Magnam eius asperiores, soluta voluptatum aliquid odio blanditiis. Repudiandae temporibus deserunt atque, debitis recusandae similique et nulla nostrum, iure, facere eum nihil aspernatur! Culpa ipsa rem voluptates. Molestias quas culpa illo illum nostrum, veritatis blanditiis! Iusto qui temporibus voluptatibus. Ut deserunt porro at enim ipsum maxime delectus, cupiditate recusandae impedit, autem sed, vel iste quidem ullam maiores nesciunt provident quo consectetur laboriosam accusantium.</p>
                <p>Lorem ipsum, dolor sit amet consectetur  Laborum fuga cum sit esse rem deleniti optio! Qui ab nemo aut hic, ipsum in impedit ducimus dolores porro esse. Ipsa laboriosam tenetur culpa voluptate corrupti odit unde ut. Magnam eius asperiores, soluta voluptatum aliquid odio blanditiis. Repudiandae temporibus deserunt atque, debitis recusandae similique et nulla nostrum, iure, facere eum nihil aspernatur! Culpa ipsa rem voluptates. Molestias quas culpa illo illum nostrum, veritatis blanditiis! Iusto qui temporibus voluptatibus. Ut deserunt porro at enim ipsum maxime delectus, cupiditate recusandae impedit, autem sed, vel iste quidem ullam maiores nesciunt provident quo consectetur laboriosam accusantium.</p>
            </article>

        </section>

    </main>


    <footer>
        <p>Ana Lucía Caro Cobo &copy;</p>
    </footer>
</body>

</html>